<div class="container">
  <div class="blogposts">
    <div class="headline"><a href="#">All Posts</a> | <a href="/posts">Create</a></div>
    <% @posts.each do |post| %>
      <div class="author"><%=post.author%></div>
      <div class="title"><%=post.title%></div>
      <div class="post"><%=post.content%></div>
      <div class="date"><%=post.created_at%></div>
      <!-- <tr><td><p>&nbsp;</p></td></tr> -->
        <%end%>
  </div>
</div>
