<div class="container">
  <div class="create_posts">
  <form action="/all", method="POST">
    <div class="author_input"><label>Author:</label> <input type="text" name="post[author]" autofocus placeholder="username" autofocus></div>
    <div class="title_input"><label>Title:</label> <input type="text" name="post[title]" placeholder="title"></div>
    <div class="content_input"><label>Content:</label> <textarea rows="10" name="post[content]" placeholder="blog content"></textarea></div>
    <div class="tag_input"><label>Tags:</label><input type="text" name="post[tags]" placeholder="separate with commas"></div>
    <div class="submit_btn"><input type="submit" value="Post"></div>
  </form>
</div>
<footer><p>Copyright 2013</p></footer>
</div>
